# Server
redis_version:7.2.4
uptime_in_seconds:3600

# Clients
connected_clients:3
blocked_clients:1

# Memory
used_memory:2097152
used_memory_rss:8388608
used_memory_peak:4194304
maxmemory:104857600
mem_fragmentation_ratio:3.95

# Stats
total_commands_processed:%s
rejected_connections:1
expired_keys:0
evicted_keys:25
keyspace_hits:%s
keyspace_misses:90

# Keyspace
db0:keys=42,expires=2,avg_ttl=15000
db3:keys=7,expires=0,avg_ttl=0
